force-app/main/default/flows/Renovacion_automatica_de_suscripciones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Renovacion_auto</name>
        <label>Copy 1 of Renovacion auto</label>
        <locationX>490</locationX>
        <locationY>924</locationY>
        <actionName>Account.Renovacion_automatica</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Renovacion_automatica</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_fin_suscripcion</name>
        <label>Email fin suscripcion</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>Account.Aviso_fin_de_suscripcion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Aviso_fin_de_suscripcion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Assign_record_subscription_end_date</name>
        <label>Copy 1 of Assign record subscription end date</label>
        <locationX>776</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>Recordsubscriptionenddate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_subs_end_date.Subscription_end_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Cambio_fecha_fin_suscripci_n</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Cambio_fecha_fin_suscripci_n</name>
        <label>Copy 1 of Cambio fecha fin suscripción</label>
        <locationX>776</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Sin renovación automática</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Renovaci_n_autom_tica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automatic_renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Actualizar_fecha_inicio_suscripcion</targetReference>
            </connector>
            <label>Renovación automática</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Email_is_blank</name>
        <label>Copy 1 of Email is blank</label>
        <locationX>622</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Is Blank</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_duracion_suscripcion.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Renovacion_auto</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_is_blank</name>
        <label>Email is blank</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Is Blank</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_duracion_suscripcion.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_fin_suscripcion</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calcenddate</name>
        <dataType>Date</dataType>
        <expression>IF(TEXT({!Get_duracion_suscripcion.Subscription_duration__c})=&quot;1&quot;, ADDMONTHS(TODAY(),1), IF(TEXT({!Get_duracion_suscripcion.Subscription_duration__c})=&quot;3&quot;, ADDMONTHS(TODAY(),3), IF(TEXT({!Get_duracion_suscripcion.Subscription_duration__c})=&quot;6&quot;, ADDMONTHS(TODAY(),6),ADDMONTHS(TODAY(),12))))</expression>
    </formulas>
    <formulas>
        <name>Calculatesubscriptionexpired</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_subs_end_date.Subscription_end_date__c} &lt; TODAY() , true, false)</expression>
    </formulas>
    <interviewLabel>Renovacion automatica de suscripciones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renovacion automatica de suscripciones</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_duracion_suscripcion</name>
        <label>Get duracion suscripcion</label>
        <locationX>622</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Email_is_blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_subs_end_date.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subscription_duration__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_subs_end_date</name>
        <label>Get subs end date</label>
        <locationX>776</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_record_subscription_end_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subscription_end_date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Actualizar_fecha_inicio_suscripcion</name>
        <label>Actualizar fecha inicio suscripcion</label>
        <locationX>622</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Get_duracion_suscripcion</targetReference>
        </connector>
        <inputAssignments>
            <field>Subscription_start_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X3_dias_antes</name>
            <connector>
                <targetReference>Email_is_blank</targetReference>
            </connector>
            <label>3 dias antes</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Subscription_end_date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_dia_despues</name>
            <connector>
                <targetReference>Get_subs_end_date</targetReference>
            </connector>
            <label>1 dia despues</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Subscription_end_date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Recordsubscriptionenddate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
