force-app/main/default/flows/Renovar_suscripcion_manualmente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>Choice12</name>
        <choiceText>12</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice6</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <description>Nueva versión clase Alberto / actualizar fecha inicio + duracion suscripcion</description>
    <environments>Default</environments>
    <formulas>
        <name>CalcularFechaFinSuscripcion</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!recordid.Subscription_start_date__c}, {!Duracion_Suscripcion_Picklist})</expression>
    </formulas>
    <formulas>
        <name>fechatoday</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>Renovar suscripcion manualmente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renovar suscripcion manualmente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_subscription_s_end_date</name>
        <label>Update subscription&apos;s end date</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subscription_duration__c</field>
            <value>
                <elementReference>Duracion_Suscripcion_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_start_date__c</field>
            <value>
                <elementReference>fechatoday</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Renovacion_manual</name>
        <label>Renovacion manual</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Elegir otro plan</backButtonLabel>
        <connector>
            <targetReference>Update_subscription_s_end_date</targetReference>
        </connector>
        <fields>
            <name>Suscription_info</name>
            <fieldText>&lt;p&gt;Confirme que desea renovar la suscripción en {!Duracion_Suscripcion_Picklist} meses para la cuenta con el email. Próxima renovación {!CalcularFechaFinSuscripcion}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Renovar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Renovar_suscripcion</name>
        <label>Renovar suscripción</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Renovacion_manual</targetReference>
        </connector>
        <fields>
            <name>Duracion_Suscripcion_Picklist</name>
            <choiceReferences>Choice3</choiceReferences>
            <choiceReferences>Choice6</choiceReferences>
            <choiceReferences>Choice12</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Duracion Suscripcion</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Renovar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Renovar_suscripcion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRelated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
